:root {
    --cor-1: #252422;
    --cor-2: #403D39;
    --cor-3: #CCC5B9;
    --cor-4: #FFFCF2;
    --cor-5: #d35421;
    --sem-cor: rgba(0, 0, 0, 0);
    --sombra-cor: rgba(0, 0, 0, 0.5);
 }
 
 .message-box {
    display: flex;
    flex-direction: column;
    row-gap: 3px;

    width: fit-content;

    padding: 10px 15px;

    background-color: var(--cor-4);

    border-radius: 0px 10px 10px 10px;
    border: none;

    box-shadow: 2px 2px 2px var(--sombra-cor);
}

.message-box > .message-box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message-box > .message-box-header > h1 {
    font-size: 20px;
    font-weight: bold;

    margin-right: 20px;

    color: var(--cor-5);
}

.message-box > .message-box-header > h2 {
    font-size: 12px;
    font-weight: bold;

    color: var(--cor-3);
}

.message-box > .message-box-body {
    display: flex;
}

.message-box > .message-box-body > p {
    font-size: 16px;
}