/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 30px;
    width: 500px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

button:focus {
    color: white;
}

img {
    width: 50px;
}

div>p:first-child {
    display: block;
    margin: auto;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin: 100px auto;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 350px;
    text-align: center;
}

.icone {
    height: 30px;
    width: 30px;
    position: absolute;
}

/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao>p {
    width: 200px;
    padding-top: 75px;
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
    padding: 25px;
}

#container-para-comprar>p {
    color: #c44f00;
    padding-top: 70px;
    font-size: 60px;
    margin: 0 auto;
}

/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    margin: auto;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

td button:hover {
    color: white;
    background-color: #aa9845;
    font-weight: bold;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin: 50px auto;
    display: block;

}

#back-button:hover {
    background-color: #635a3d
}

button {
    border: none;
}