.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 0;
  transition: var(--transition);
}
/*************************************/
.HomePage > .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
}
.HomePage > .text-box > .top {
  font-size: min(13vw, 6.55rem);
  text-shadow: var(--shadow);
}
.HomePage > .text-box > .middle {
  margin-top: -0.3em;
  margin-bottom: -0.4em;
  font-size: min(19vw, 9.7rem);
  color: transparent;
  -webkit-text-stroke: 0.025em var(--color-w);
}
.HomePage > .text-box > .bottom {
  font-size: min(23.5vw, 11.95rem);
  text-shadow: var(--shadow);
}
/*************************************/
.HomePage > .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 4);
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--padding);
}
.HomePage > .button-box > button {
  width: 100%;
  background-color: transparent;
  border: var(--border)
}
.HomePage > .button-box > button > .top {
  font-size: min(5vw, 2rem);
  text-shadow: var(--shadow);
}
.HomePage > .button-box > button > .bottom {
  margin: calc(var(--margin) * -1.5);
  font-size: min(10vw, 4rem);
  text-shadow: var(--shadow);
}