body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;

    display: grid;
}

div {
    display: grid;

    text-align: center;
    
}

#main-container {
    grid-template-rows: 1fr 12fr 4fr 1fr;
}

#top-container {
    grid-template-columns: 1fr 3fr;
}

#middle-container {
    grid-template-columns: 2fr 1fr 1fr;
}

#vertical-middle-container {
    grid-template-rows: 1fr 1fr;
}

.green-background {
    background-color: green;
}

.yellow-background {
    background-color: yellow;
}

.pink-background {
    background-color: fuchsia;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}