:root {
    --cor-1: #252422;
    --cor-2: #403D39;
    --cor-3: #CCC5B9;
    --cor-4: #FFFCF2;
    --cor-5: #d35421;
    --sem-cor: rgba(0, 0, 0, 0);
    --sombra-cor: rgba(0, 0, 0, 0.5);
 }
  
 .chat-list {
    width: 100%;
    height: fit-content;
}

.chat-list > ul {
    list-style-type: none;
}

.chat-list > ul > li {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 1% 0;
}