.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-width: 192px;
    height: 100%;

    user-select: none;
}

.cover {
    width: 52px;
    height: 52px;

    border: solid 2px var(--color-2);
    border-radius: 100%;
}

.name-control-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--color-5);
}

.name-control-box > .music-name {
    text-align: left;
    width: 128px;
    
    margin-top: 2px;
    margin-bottom: -4px;
}

.name-control-box > .music-name > h1 {
    padding-left: 12px;

    font-size: calc(18px);
    font-weight: bold;
}

.name-control-box > .control-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 128px;
    height: 100%;

    font-size: calc(12px + 2vmin);

    color: var(--color-5);
}

.name-control-box > .control-buttons > button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border: none;

    background-color: transparent;
    color: var(--color-5);

    font-size: 24px;
}

.name-control-box > .control-buttons > #play-pause-input {
    display: none;
}

.name-control-box > .control-buttons > #play-pause-input:checked ~ label > .play {
    opacity: 0;
    width: 0;
    height: 0;
}

.name-control-box > .control-buttons > #play-pause-input:checked ~ label > .pause {
    opacity: 1;
    width: 32px;
    height: 32px;
}

.name-control-box > .control-buttons > label {
    cursor: pointer;   

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    background-color: transparent;
    color: var(--color-5);

    font-size: calc(12px + 2vmin); 
}

.name-control-box > .control-buttons > label > svg {
    position: absolute;
}

.name-control-box > .control-buttons > label > .play {
    opacity: 1;
    width: 32px;
    height: 32px;
    transition: all 0.3s;
}

.name-control-box > .control-buttons > label > .pause {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.3s;
}

@media screen and (max-width: 480px) {
    .player {
        position: absolute;
        bottom: 60px;

        height: fit-content;

        padding: 0 12px;
    }
    
    .cover {
        width: 32px;
        height: 32px;
    }
    
    .name-control-box {
        flex-direction: row;
        align-items: center;
    }
    
    .name-control-box > .music-name {
        width: 100%;
        
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .name-control-box > .music-name > h1 {
        padding-left: 4px;
    }
    
    .name-control-box > .control-buttons {
        justify-content: flex-end;
        gap: 4px;
    
        width: fit-content;
    }
}